* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 50px 0;
    background-color: aquamarine;
}

h1 {
    padding: 20px;
}

.todos__item.done {
    text-decoration: line-through;
}

section {
    padding: 50px 30px;
}

.new-todo {
    padding: 20px 20px;
}






